.character-container {
    display: flex;
    justify-content: center;   /* centers left ↔ right */
    align-items: center;       /* centers up ↕ down */
    height: 30vh;             /* full screen height */
}

.character {         /* adjust this size */
    width: 20vh;               /* makes it scale */
    user-select: none;         /* optional */
}
